body,
p,
ul {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}

a {
  text-decoration: unset;
  color: unset;
}

h2,
h3 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button {
  all: unset;
  display: inline-block;
}

strong {
  font-weight: unset;
}
