body {
  background-color: #111;
  font-family: "Montserrat", sans-seri;
}

.swiper-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 10px;
}

h1 {
  color: #fff;
}

h1::after {
  content: " ";
  display: block;
  width: 200px;
  height: 5px;
  margin: 20px auto 0;
  background-color: silver;

  border-radius: 10px;
}

.swiper-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;

  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.swiper-img-box {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 550px;
  overflow: hidden;
  background-color: #fff;
  border: 5px solid #222;
  border-radius: 10px;
  box-shadow: 2px 3px 20px #555;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.text-box {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: aliceblue;
}

.text-box > h2 {
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0 0 10px #222;
}

.text-box > p {
  color: #aaa;
  font-size: 20px;
  text-shadow: 0 0 10px #222;
}

.text-box > p strong {
  color: #eee;
  font-weight: 700;
}

#stop {
  margin-top: 30px;
  background-color: Lavender;
  padding: 10px 100px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 0 0 10px #000;
  margin: 0 auto;
}
